<template>
    <form @submit="sendLoginRequest">

        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">E-mail Address / Username</label>

            <div class="col-md-6">
                <input v-model="email" id="email" type="text" class="form-control " name="email"
                       :class="{ 'is-invalid': ($v.email.$error) }" @input="$v.$touch()">
                <span :class="{ 'invalid-feedback': ($v.email.$error) }" role="alert"
                      v-if="$v.email.$dirty">
                    <div class="error" v-if="!$v.email.required">Please enter your email address / username.</div>
                    <div class="server-email-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input v-model="password" id="password" type="password" class="form-control " name="password"
                       :class="{ 'is-invalid': $v.password.$error }" @input="$v.$touch()">
                <span :class="{ 'invalid-feedback': $v.password.$error }" role="alert" v-if="$v.password.$dirty">
                    <div class="error" v-if="!$v.password.required">Please enter your password.</div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 offset-md-4">
                <div class="form-check">
                    <input v-model="remember" class="form-check-input" type="checkbox" name="remember" id="remember">

                    <label class="form-check-label" for="remember">
                        Remember Me
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button v-if="sendRequest == false" type="submit" class="btn btn-primary">
                    Login
                </button>
                <button v-if="sendRequest" type="button" class="btn btn-primary">
                    Logging in
                    <font-awesome-icon icon="spinner" spin/>
                </button>

                <!--@if (Route::has('password.request'))-->
                <!--<a class="btn btn-link" href="{{ route('password.request') }}">-->
                <!--{{ __('Forgot Your Password?') }}-->
                <!--</a>-->
                <!--@endif-->
            </div>
        </div>
    </form>
</template>

<script>
    const {validationMixin, default: Vuelidate} = require('vuelidate')
    const {required} = require('vuelidate/lib/validators')
    export default {
        name: 'Login',
        data() {
            return {
                email: null,
                password: null,
                remember: false,
                sendRequest: false,
            }
        },
        validations: {
            email: {required},
            password: {required}
        },
        methods: {
            sendLoginRequest(e) {
                e.preventDefault();

                const self = this;

                this.$v.$touch();

                if (!this.$v.$invalid) {
                    self.sendRequest = true;
                    $(this.$el).find('.is-invalid').removeClass('is-invalid');
                    axios
                        .post('login', {
                            email: self.email,
                            password: self.password,
                            remember: self.remember,
                        })
                        .then(response => {
                            window.location.reload()
                        })
                        .catch(error => {
                            self.sendRequest = false;
                            if (Object.keys(error.response.data.errors).length) {
                                for (var key in error.response.data.errors) {
                                    var errorMessage = error.response.data.errors[key];
                                    $('.server-' + key +  '-error' ).text(errorMessage);
                                    $(this.$el[key]).addClass('is-invalid')
                                        .next('[role=alert]').addClass('invalid-feedback');
                                }
                            }
                        });
                }
            }
        }
    }
</script>
