<template>
    <form @submit="sendCreateRequest">

        <div class="form-group row">
            <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name</label>

            <div class="col-md-6">
                <input v-model="first_name" id="first_name" type="text" class="form-control " name="first_name"
                       :class="{ 'is-invalid': ($v.first_name.$error) }" @input="$v.first_name.$touch()">
                <span :class="{ 'invalid-feedback': ($v.first_name.$error) }" role="alert"
                      v-if="$v.first_name.$dirty">
                    <div class="error" v-if="!$v.first_name.required">Please enter your first name.</div>
                </span>
                <div class="server-first_name-error"></div>
            </div>
        </div>

        <div class="form-group row">
            <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name</label>

            <div class="col-md-6">
                <input v-model="last_name" id="last_name" type="text" class="form-control " name="last_name"
                       :class="{ 'is-invalid': ($v.last_name.$error) }" @input="$v.last_name.$touch()">
                <span :class="{ 'invalid-feedback': ($v.last_name.$error) }" role="alert"
                      v-if="$v.last_name.$dirty">
                    <div class="error" v-if="!$v.last_name.required">Please enter your last name.</div>
                    <div class="server-last_name-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>

            <div class="col-md-6">
                <textarea v-model="address" id="address" class="form-control " name="address"
                          :class="{ 'is-invalid': ($v.address.$error) }" @input="$v.address.$touch()">
                </textarea>
                <span :class="{ 'invalid-feedback': ($v.address.$error) }" role="alert"
                      v-if="$v.address.$dirty">
                    <div class="error" v-if="!$v.address.required">Please enter your address.</div>
                    <div class="server-address-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="post_code" class="col-md-4 col-form-label text-md-right">Postcode</label>

            <div class="col-md-6">
                <input v-model="post_code" id="post_code" type="text" class="form-control " name="post_code"
                       :class="{ 'is-invalid': ($v.post_code.$error) }" @input="$v.post_code.$touch()">
                <span :class="{ 'invalid-feedback': ($v.post_code.$error) }" role="alert"
                      v-if="$v.post_code.$dirty">
                    <div class="error" v-if="!$v.post_code.required">Please enter your postcode.</div>
                    <div class="server-post_code-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="contact_number" class="col-md-4 col-form-label text-md-right">Contact Number</label>

            <div class="col-md-6">
                <input v-model="contact_number" id="contact_number" type="text" class="form-control "
                       name="contact_number"
                       :class="{ 'is-invalid': ($v.contact_number.$error) }" @input="$v.contact_number.$touch()">
                <span :class="{ 'invalid-feedback': ($v.contact_number.$error) }" role="alert"
                      v-if="$v.contact_number.$dirty">
                    <div class="error" v-if="!$v.contact_number.required">Please enter your contact number.</div>
                    <div class="server-contact_number-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">E-mail Address</label>

            <div class="col-md-6">
                <input v-model="email" id="email" type="text" class="form-control " name="email"
                       :class="{ 'is-invalid': ($v.email.$error) }" @input="$v.email.$touch()">
                <span :class="{ 'invalid-feedback': ($v.email.$error) }" role="alert"
                      v-if="$v.email.$dirty">
                    <div class="error" v-if="!$v.email.required">Please enter your email address.</div>
                    <div class="error" v-if="!$v.email.email">Please enter a valid email address.</div>
                    <div class="server-email-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="user_name" class="col-md-4 col-form-label text-md-right">Username</label>

            <div class="col-md-6">
                <input v-model="user_name" id="user_name" type="text" class="form-control " name="user_name"
                       :class="{ 'is-invalid': ($v.user_name.$error) }" @input="$v.user_name.$touch()">
                <span :class="{ 'invalid-feedback': ($v.user_name.$error) }" role="alert"
                      v-if="$v.user_name.$dirty">
                    <div class="error" v-if="!$v.user_name.required">Please enter your username.</div>
                    <div class="server-user_name-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input v-model="password" id="password" type="password" class="form-control " name="password"
                       :class="{ 'is-invalid': ($v.password.$error) }" @input="$v.password.$touch()">
                <span :class="{ 'invalid-feedback': ($v.password.$error) }" role="alert" v-if="$v.password.$dirty">
                    <div class="error" v-if="!$v.password.required">Please enter your password.</div>
                    <div class="server-password-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <label for="password_confirmation"
                   class="col-md-4 col-form-label text-md-right">Password Confirmation</label>

            <div class="col-md-6">
                <input v-model="password_confirmation" id="password_confirmation" type="password" class="form-control "
                       name="password_confirmation"
                       :class="{ 'is-invalid': ($v.password_confirmation.$error) }" @input="$v.password_confirmation.$touch()">
                <span :class="{ 'invalid-feedback': ($v.password_confirmation.$error) }" role="alert"
                      v-if="$v.password_confirmation.$dirty">
                    <div class="error" v-if="!$v.password_confirmation.sameAsPassword">Passwords must be identical</div>
                    <div class="server-password_confirmation-error"></div>
                </span>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button v-if="sendRequest == false" type="submit" class="btn btn-primary">
                    Save
                </button>
                <button v-if="sendRequest" type="button" class="btn btn-primary">
                    Saving
                    <font-awesome-icon icon="spinner" spin/>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    const {validationMixin, default: Vuelidate} = require('vuelidate')
    const {required, sameAs, email} = require('vuelidate/lib/validators')
    export default {
        name: 'UserCreate',
        data() {
            return {
                first_name: null,
                last_name: null,
                user_name: null,
                address: null,
                post_code: null,
                contact_number: null,
                email: null,
                password: null,
                password_confirmation: null,
                sendRequest: false,
            }
        },
        validations: {
            first_name: {required},
            last_name: {required},
            user_name: {required},
            address: {required},
            post_code: {required},
            contact_number: {required},
            email: {required, email},
            password: {required},
            password_confirmation: {
                sameAsPassword: sameAs('password')
            },
        },
        methods: {
            sendCreateRequest(e) {
                e.preventDefault();

                const self = this;

                this.$v.$touch();

                if (!this.$v.$invalid) {
                    self.sendRequest = true;
                    $(this.$el).find('.is-invalid').removeClass('is-invalid');
                    axios
                        .post('/admin/users', {
                            first_name: self.first_name,
                            last_name: self.last_name,
                            user_name: self.user_name,
                            address: self.address,
                            post_code: self.post_code,
                            contact_number: self.contact_number,
                            email: self.email,
                            password: self.password,
                            password_confirmation: self.password_confirmation,
                        })
                        .then(response => {
                            self.sendRequest = false;
                            if (response.data.messages.hasOwnProperty('swal')) {
                                var arrSwal = response.data.messages.swal;
                                Vue.swal({
                                    icon: arrSwal.icon,
                                    title: arrSwal.title,
                                    text: arrSwal.text,
                                }).then((result) => {
                                    if (arrSwal.hasOwnProperty('redirect_route')) {
                                        location.href = arrSwal.redirect_route
                                    } else {
                                        window.location.reload()
                                    }
                                })
                            }
                        })
                        .catch(error => {
                            self.sendRequest = false;
                            if (Object.keys(error.response.data.errors).length) {
                                for (var key in error.response.data.errors) {
                                    var errorMessage = error.response.data.errors[key];
                                    $('.server-' + key + '-error').text(errorMessage);
                                    $(this.$el[key]).addClass('is-invalid')
                                        .next('[role=alert]').addClass('invalid-feedback');
                                }
                            }
                        });
                }
            }
        }
    }
</script>
